# Rappels sur le langage Python

Python est un langage de programmation très populaire utlisé dans de nombreuses applications.
En particulier, il est très utilisé en Machine Learning. Cela vient du fait que sa syntaxe est très simple et interactive.
De plus, de nombreuses librairies en rapport avec le machine learning existent en Python.
Il est facile et rapide d'expérimenter, ce qui est très important pendant les phases d'analyse de données et le developpement de modèles d'apprentissage.

Nous utiliserons uniquement Python 3 dans ce cours.

## Syntaxe

[Types de données](https://docs.python.org/3.4/reference/datamodel.html), [Operateurs](https://docs.python.org/3.4/library/operator.html), et variables. Python est un langage interactif ce qui nous permet de faire des essais en tapant juste du code et en l'éxécutant dans le carnet.

In [ ]:
# Nombres, ex: int (entiers), float (nombres à virgule), bool (booléens - 0 ou 1), complex (nombres complexes)

11                      # 11 est un nombre entier

In [ ]:
3.1415926535897         # pi est un nombre flottant (nombre à virgule)

In [ ]:
True                    # True est une variable boléenne (vrai ou faux,0 ou 1...)

In [ ]:
# Complex or imaginary numbers

1+2j                    # 1+2j est un nombre complexe, sa partie réelle est 1 et sa partie imaginaire est 2

In [ ]:
# "None" est similaire à "null" dans d'autres langages de programmation

a = None
print(a)

In [ ]:
# type() permet de connapitre le type d'une variable

a = 12.0
type(a)

In [ ]:
# Les chaines de caractères peuvent être définies avec des guillemets ou des apostrophes

'Ceci est une chaine de caractères'

In [ ]:
"Ceci est aussi une chaine de caractères"

In [ ]:
# Obtenir la longueur d'une chaine de caractères

len('Une phrase...')

In [ ]:
# Selectioner un caractère dans une chaine de caractères

a = 'Une phrase...'
a[1]

In [ ]:
# Python vérifie que l'indexe ne dépasse par la longueur de la chaine de caractères

a = 'Une phrase...'
a[100]

In [ ]:
# Les indexes négatifs commencent à la fin

a = 'Une phrase...'
a[-6]

In [ ]:
# Selectionner un intervalle de caractères

a = 'Une phrase'
a[4:10]

In [ ]:
# Les indexs négatifs fonctionnent aussi

a = 'Une phrase...'
a[-9:-3]

### String formatting

Python supports multiple styles of string formatting:


*   [printf](https://docs.python.org/3/library/stdtypes.html#printf-style-string-formatting)
*   [format()](https://docs.python.org/3.4/library/string.html#formatspec)

In [ ]:
# printf style formatting

answer = 42
'The answer to the ultimate question of life, the universe, and everything is %d' % answer

In [ ]:
# multiple values

length = 8.0
width = 4.0
'The dimensions are %.2f feet long and %.2f feet wide' % (length, width)

In [ ]:
# format(...) method

answer = 42
'The answer to the ultimate question of life, the universe, and everything is {0:d}'.format(answer)

In [ ]:
# named values

length = 8.0
width = 4.0
'The dimensions are {length:.2f} feet long and {width:.2f} feet wide'.format(width=width, length=length)

### Type Conversion

In [ ]:
pi = 3.1415926535897
type(pi)

In [ ]:
int(pi)

In [ ]:
complex(pi)

In [ ]:
int('42')

In [ ]:
str(42)

In [ ]:
bool(0)

## Flow Control

Spaces or tabs are used to group statements together. Unlike many languages today, whitespace is significant in Python.

In [ ]:
for i in range(5):
    print('%d, squared: %d' % (i, i*i))

In [ ]:
i = 0
while i < 5:
    print('%d, squared: %d' % (i, i*i))
    i = i + 1

In [ ]:
for i in range(1, 10):
    if i % 2 == 0:
        print('%d is divisible by two' % (i))
    elif i % 3 == 0:
        print('%d is divisible by three' % (i))
    else:
        print('%d is not divisible by two or three' % (i))

## Data Structures

### Lists

Lists contain any number of ordered values.

In [ ]:
[1, 2, 3]

In [ ]:
a = [1, 2, 3]
len(a)

In [ ]:
# Iterate through a list

for value in a:
    print('Value is %d' % value)

In [ ]:
a = [1, 2, 3]
a.append(4)
a

In [ ]:
# Add two lists

a = [1, 2, 3]
b = [7, 8, 9]

a+b

In [ ]:
# List comprehension

a = [2*i for i in range(10)]
a

In [ ]:
# Reverse a list

a = [2*i for i in range(10)]
a.reverse()
a

In [ ]:
a.sort()
a

### Dictionaries

Dictionaries contain key-value pairs. Similar to Java HashMap.

In [ ]:
band = { 'David St. Hubbins':'Rhythm Guitar', 'Nigel Tufnel':'Lead Guitar', 'Derek Smalls':'Bass', 'Drums':'Unknown' }
band

In [ ]:
for name in band:
    print('Name: %s, instrument: %s' % (name, band[name]))

In [ ]:
for name, instrument in band.items():
    print('Name: %s, instrument: %s' % (name, instrument))

In [ ]:
band['Drums'] = 'John "Stumpy" Pepys'

for name in band:
    print('Name: %s, instrument: %s' % (name, band[name]))

## Functions and Methods

Functions and methods are similar, but differ slightly.

In [ ]:
# len() is a method

a = 'some string'
len(a)

In [ ]:
# upper() is a method

a = 'some string'
a.upper()

In [ ]:
# dir() lists attributes and methods of an object

a = 'some string'
dir(a)

In [ ]:
# Use def to define a function

def average(array):
  n = len(array)
  total = 0.0
  for a in array:
    total = total + a
  return total / n

average([1, 2, 3])

In [ ]:
# Functions can return tuples

def statistics(array):
  avg = average(array)
  n = len(array)
  total = 0.0
  for a in array:
    variance = a - avg
    total += variance ** 2
  stddev = total / n
  return (avg, stddev)

statistics([1, 2, 3])

In [ ]:
# Assign to a tuple

(avg, stddev) = statistics([1, 2, 3])
print('The average is %.2f and the standard deviation is %.2f' % (avg, stddev))

## Classes

Use the class keyword to define classses.

In [ ]:
class BankAccount(object):
  def __init__(self, accountNumber, initialBalance, interestRate):
    self.accountNumber = accountNumber
    self.balance = initialBalance
    self.interestRate = interestRate
  
  def deposit(self, amount):
    self.balance += amount
  
  def withdraw(self, amount):
    if self.balance >= amount:
      self.balance -= amount
      return amount
    raise Exception('Insufficient balance for withdrawal: only %.2f in account %d' % (self.balance, self.accountNumber))
  
  def addInterest(self):
    self.balance *= 1.0 + self.interestRate/100.0
  
  def transferTo(self, otherAccount, amount):
    otherAccount.deposit(self.withdraw(amount))
  
  def __str__(self):
    return 'Account %d, balance: %.2f' % (self.accountNumber, self.balance)

In [ ]:
checking = BankAccount(101, 100.0, 1.0)
savings = BankAccount(201, 1000.0, 5.0)

print(checking)
print(savings)
checking.addInterest()
savings.addInterest()

savings.transferTo(checking, 500)

print(checking)
print(savings)

# savings.transferTo(checking, 1000)

## Reading and Writing files

In [ ]:
# Write a file, 'w' opens a file for writing, 'a' appends to an existing file

with open('somefile.txt', 'w') as f:
  f.write('First line\n')
  f.write('Second line\n')

In [ ]:
# strip() removes the trailing \n

with open('somefile.txt') as f:
  print(f.readline().strip())

In [ ]:
with open('somefile.txt') as f:
  print(f.readlines())

## Modules

[import](https://docs.python.org/3/reference/simple_stmts.html#import) can be used to refer to modules.

In [ ]:
import matplotlib.pyplot as plt
import math

x = [0.1*i for i in range(64)]
sin = [math.sin(i) for i in x]
cos = [math.cos(i) for i in x]

plt.plot(x, sin, label='sin(x)', color='blue', linewidth=2.5)
plt.plot(x, cos, label='cos(x)', color='red', linewidth=0.5)
plt.ylabel('y')
plt.xlabel('x')
plt.legend(loc='upper right')
plt.show()