<a href="https://colab.research.google.com/github/AlexandreBourrieau/ML-F1/blob/master/Carnets%20Jupyter/Exercices/CH7_Ex_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importation des données**

In [1]:
!mkdir data
!wget  https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data -P data

--2020-09-10 10:31:49--  https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25936 (25K) [application/x-httpd-php]
Saving to: ‘data/imports-85.data’

imports-85.data     100%[===================>]  25.33K  --.-KB/s    in 0.1s

2020-09-10 10:31:50 (194 KB/s) - ‘data/imports-85.data’ saved [25936/25936]

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
NomsColonnes = ['symboling','normalized_losses','make','fuel_type','aspiration','num_of_doors','body_style',
               'drive_wheels','engine_location','wheel_base','length','width','height','curb_weight',
               'engine_type','num_of_cylinders','engine_size','fuel_system','bore','stroke','compression_ratio',
               'horsepower','peak_rpm','city_mpg','highway_mpg','price']

voitures = pd.read_csv('data/imports-85.data', sep=',', names = NomsColonnes)

# **Affichage du nombre total de voitures**

In [6]:
print('Nombre total de voitures : %d' % len(voitures))

Nombre total de voitures : 205

# **Affichage des 10 premières lignes**

In [7]:
voitures.head(10)

   symboling normalized_losses         make  ... city_mpg highway_mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450
5          2                 ?         audi  ...       19          25  15250
6          1               158         audi  ...       19          25  17710
7          1                 ?         audi  ...       19          25  18920
8          1               158         audi  ...       17          20  23875
9          0                 ?         audi  ...       16          22      ?

[10 rows x 26 columns]

# **Affichage des voitures de marque Audi à 4 portes**

In [9]:
voitures[(voitures['make'] == 'audi') & (voitures['num_of_cylinders'] == 'five')]

   symboling normalized_losses  make  ... city_mpg highway_mpg  price
4          2               164  audi  ...       18          22  17450
5          2                 ?  audi  ...       19          25  15250
6          1               158  audi  ...       19          25  17710
7          1                 ?  audi  ...       19          25  18920
8          1               158  audi  ...       17          20  23875
9          0                 ?  audi  ...       16          22      ?

[6 rows x 26 columns]

# **Affichage du types des données**

In [10]:
voitures.dtypes

symboling              int64
normalized_losses     object
make                  object
fuel_type             object
aspiration            object
num_of_doors          object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_of_cylinders      object
engine_size            int64
fuel_system           object
bore                  object
stroke                object
compression_ratio    float64
horsepower            object
peak_rpm              object
city_mpg               int64
highway_mpg            int64
price                 object
dtype: object

# **Affichage des informations statistiques**

In [11]:
voitures.describe()

        symboling  wheel_base  ...    city_mpg  highway_mpg
count  205.000000  205.000000  ...  205.000000   205.000000
mean     0.834146   98.756585  ...   25.219512    30.751220
std      1.245307    6.021776  ...    6.542142     6.886443
min     -2.000000   86.600000  ...   13.000000    16.000000
25%      0.000000   94.500000  ...   19.000000    25.000000
50%      1.000000   97.000000  ...   24.000000    30.000000
75%      2.000000  102.400000  ...   30.000000    34.000000
max      3.000000  120.900000  ...   49.000000    54.000000

[8 rows x 10 columns]

# **Création d'un nouveau dataframe avec la colonne "price" de type floatant et affichage des statistiques sur cette colonne**

In [24]:
voitures2 = voitures[voitures['price'].str.find("?") <0 ].copy()
voitures2['price'] = voitures2['price'].astype(float)

# **Affichage des types des données, des informations statistiques et des 5 lignes dont le prix des voitures est le plus élevé.**

In [25]:
voitures2.dtypes

symboling              int64
normalized_losses     object
make                  object
fuel_type             object
aspiration            object
num_of_doors          object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_of_cylinders      object
engine_size            int64
fuel_system           object
bore                  object
stroke                object
compression_ratio    float64
horsepower            object
peak_rpm              object
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [28]:
voitures2.describe()

        symboling  wheel_base  ...  highway_mpg         price
count  201.000000  201.000000  ...   201.000000    201.000000
mean     0.840796   98.797015  ...    30.686567  13207.129353
std      1.254802    6.066366  ...     6.815150   7947.066342
min     -2.000000   86.600000  ...    16.000000   5118.000000
25%      0.000000   94.500000  ...    25.000000   7775.000000
50%      1.000000   97.000000  ...    30.000000  10295.000000
75%      2.000000  102.400000  ...    34.000000  16500.000000
max      3.000000  120.900000  ...    54.000000  45400.000000

[8 rows x 11 columns]

In [29]:
voitures2.sort_values(by='price', ascending=False).head(5)

     symboling normalized_losses           make  ... city_mpg highway_mpg    price
74           1                 ?  mercedes-benz  ...       14          16  45400.0
16           0                 ?            bmw  ...       16          22  41315.0
73           0                 ?  mercedes-benz  ...       14          16  40960.0
128          3                 ?        porsche  ...       17          25  37028.0
17           0                 ?            bmw  ...       15          20  36880.0

[5 rows x 26 columns]